{% extends "register/base_generic.html" %}

{% block title %} {{object}} {% endblock %}

{% load register_extras %}
{% block content %}
{% if validation_errors %}
    <div class="alert alert-danger">
      Det finns problem med informationen om uppgiftskravet -- se de rödmarkerade raderna nedan!
    </div>
{% endif %}
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Fält</th> <th>Värde</th>
    </tr>
  </thead>
  <tbody>
    {% for field, value in object %}
    <tr>
      <td>
	<strong title="{{field.name}}">{{field.verbose_name}}</strong><br>
	<small>{{field.help_text}}</small>
      </td>
      <td>{{value|swedify:field|linebreaks}}
      {% if validation_errors|getitem:field.name %}
	<p class="alert alert-danger">
	{{validation_errors|getitem:field.name|first}}
	</p>
      {% endif %}
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
