{% extends "register/base_generic.html" %}

{% block title %} {{object}}
{% if adminurl %}
<a href="{{ adminurl }}" class="btn btn-primary active">Redigera detta</a>
{% endif %}
{% endblock %}

{% load register_extras %}
{% block content %}
{% if validation_errors %}
    <div class="alert alert-danger">
      Det finns problem med informationen om uppgiftskravet -- se de rödmarkerade raderna nedan!
    </div>
{% endif %}


<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Fält</th> <th>Värde</th>
    </tr>
  </thead>
  <tbody>
    {% for fieldset in fieldsets %}
    <tr><td colspan="2"><h2>{{fieldset.0}}</h2></td></tr>
    {% for fieldname in fieldset.1.fields %}
    <tr>
      <td>
	<strong title="{{field.name}}">{{ object|verbose_name:fieldname }}</strong><br>
	<small>{{ object|help_text:fieldname }}</small>
      </td>
      <td>{{ object|get_value:fieldname|safe }}</td>
      <td>
      {% if validation_errors|getitem:fieldname %}
	<p class="alert alert-danger">
	{{validation_errors|getitem:fieldname|first}}
	</p>
      {% endif %}
      </td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block leftgrid %}
<h2>Uppgifter</h2>
<ul>
  {% for uppgift in krav.uppgifter.all %}
  <li><a href="{% url 'register:uppgift-detail' uppgift.uppgiftid %}">{{ uppgift }}</a></li>
  {% endfor %}
</ul>
{% endblock %}

{% block centergrid %}
<h2>Branscher</h2>
<ul>
  {% for bransch in krav.bransch.all %}
  <li><a href="{% url 'register:bransch-detail' bransch.snikod %}">{{ bransch }}</a></li>
  {% endfor %}
</ul>
{% endblock %}

{% block rightgrid %}
<h2>Företagsformer</h2>
<ul>
  {% for form in krav.foretagsform.all %}
  <li><a href="{% url 'register:form-detail' form.formkod %}">{{ form }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
