{% extends "register/base_generic.html" %}

{% block title %} Alla {{ paginator.count }} {% block objecttype %} objekt {% endblock %} {% endblock %}

{% block content %}
<ul>
  {% for object in object_list %}
  <li>{% block objectitem %}{{object}}{% endblock %}</li>
  {% endfor %}
</ul>
  {% if paginator.num_pages > 1 %}
  <ul class="pager">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Föregående</a>
    {% endif %}
    <span class="current">
      Sida {{ page_obj.number }} av {{ paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Nästa</a>
    {% endif %}
  </ul>
  {% endif %}
{% endblock %}
